<% if flash[:notice] -%>
  <div id="notice"><%= flash[:notice] %></div>
<% end -%>
<h2>Programs</h2>
<p><a href="http://honeycomb.fhcrc.org/cgi-bin/flustrw"a>flustrw</a>
  - Automated clustering of flow cytometry data.</p>
<p><a href="http://honeycomb.fhcrc.org/cgi-bin/ckfl"a>checkflow</a> 
  - Check flowrate of flow cytometry machine.</p>
